/*--------------------------------Home-Page---------------------------------*/
body{
    background: white;
    height: 600px;
    width: 960px;
}

.heading-1{

    font-size: 40px;
    
    color:grey;
    position: absolute;
    top: 0%;
    right:36%;
}

.animation-1 {
    width: 320px;
    height: 200px;
    position: absolute;
    right: 15%;
    top: 30%;
}
.animation-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 62%;
    top: 30%;
}
.animation-3 {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 25%;
}

.animation-4 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 48%;
    top: 20%;
}
.animation-5 {
    width: 200px;
    height: 250px;
    position: absolute;
    right: 43%;
    top: 30%;
}

.startQuiz{

    font-size: 30px;
    color: white;
    text-align: center;
}

button{

    width: 180px;
    height: 90px;
    background:rgb(46, 43, 43);
    position: absolute;
    top: 40%;
    right:43%;
}

/*--------------------------------Game Quiz---------------------------------*/
.timeRemaining{
    color:red;
    font-size: 25px;
    position: absolute;
    top: 15%;
    right:40%;
}

 .mcqz {
    color:grey;
    font-size: 18px;
    margin: 70px auto auto 30px;    
    line-height: 20px;
    
}

.finishQuiz{

    width: 120px;
    height: 60px;
    color: black;
    background: orange;
    font-size: 25px;
    position: absolute;
    top: 80%;
    right:47%;
}


/*--------------------------------Game Result---------------------------------*/


.heading-2{

    color: orange;
    font-size: 30px;
    position: absolute;
    top: 30%;
    right:45%;
}
.correctAns{
    color: rgb(39, 38, 38);
    font-size: 25px;
    position: absolute;
    top: 50%;
    right:45%;
}


.incorrectAns{
    color: rgb(39, 38, 38);
    font-size: 25px;
    position: absolute;
    top: 60%;
    right:45%;
}

.unAns{
    color: rgb(39, 38, 38);
    font-size: 25px;
    position: absolute;
    top: 70%;
    right:45%;
}